body{
  font-family: 'Dawning of a New Day', cursive;
  text-align: center;
  font-size: 60px;
  line-height: default;
  color:#000000;
}

.border{
  border:0;
  width: 90%;
  height:1px;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 0, 0, 0.75), rgba(0,0,0,0));
}

.navbar{
  text-align: center;
  font-size: 30px;
  list-style: none;
  padding: 10px 10px 10px 10px;
}

.navbar > li{
  display: inline-block;
  width: 200px;
}

.navbar > li > a{
  text-decoration: none;
  color:#000000;
  font-family: 'Dancing Script', cursive;
}

.navbar >li>a:hover{
  color:gray;
}

.websitebiopic{
  width: 425px;
  height: 425px;
}

.mybio{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.mybio2{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.mybio3{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.mybio4{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

.wingding{
  text-align: center;
}
